/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('//fonts.googleapis.com/css?family=Libre+Baskerville|Work+Sans');
@import url('//fonts.googleapis.com/css?family=Poller+One');

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #591E45;
  background-image: url(noisy-net.png); 
  color: #fefefe;
}
p, table {
  font-family: 'Work Sans', sans-serif; 
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
}
/* Navbar */
.navbar-custom {
  background-color: rgba(147,13,63,1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0;
}
.navbar-brand {
  font-family: 'Poller One', cursive;
  color :  rgb(255,192,55); 
}
.navbar-custom ul > li > a {
  color: rgb(253,71,93);/*color: #17202a;*/
  font-family: 'Libre Baskerville', serif;
}
.navbar-custom ul > li > a:hover, .navbar-custom ul > li > a:focus {
  background-color: transparent;
  color: #D2691E;
} 
/*.song-box:nth-child(3n+4) {
   clear: left;
}*/
.page-header {
  border-bottom: none;
}
.panel-title {
  color: rgb(253,71,93);
  font-weight: bolder;
}
.panel-default {
  background-color: rgb(255,192,55);
  border: none;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

}
.panel-default > .panel-heading {
  background-color: rgba( 247, 219, 112, 0.2);
  background-color: rgba(147,13,63,1);
  border: none;
  color: white;
}
.panel-body h2 {
  color: rgb(204,0,60);
}
.well {
  border: none;
  background: none;
  margin-bottom: 0;
}
.panel-body {
  text-align: center;
  color: #333;
}

.btn {
  border: none;
}
.btn-success, .label-success {
  background-color: #0E6251;
}
.btn-primary , .label-primary {
  background-color: #581845;
}
.btn-warning {
  background-color: #D2691E;
}
.btn-danger {
  background-color:   #C70039;
}

input, select, textarea{
    color: #591E45;
}

textarea:focus, input:focus {
    color: #591E45;
}  
#notice_wrapper {
   position: absolute;
   top: 0; 
   width: 100%;
   z-index: 999;
   background-color: rgba(255,255,255,0.5);
   .alert, .notice {
     padding: 1.6rem 0;
     text-align: center;
     margin: 0;
     font-family: 1.25rem;
     font-weight: 700;
     color: #333;
     letter-spacing: 1px;
   }
}

.word-table {
  color: #C4163F;
  border: none;
  margin-bottom: 0;
}
.word-table tbody > tr > td, .word-table tbody > tr > th {
  vertical-align: center;
  border: none;
}
.word-table tbody > tr > td {
  border-bottom: 1px solid #C4163F;
}
.word-body-panel {
  padding: 0;
}
.word-delete {
  text-align: left;
  padding-bottom: 0;
}
.btn-login {
  background-color: #66CDAA;
  color: #fefefe;
}
.btn-login:hover, .btn-login:focus {
  background-color: #fefefe;
  color: #66CDAA;
}

.login-form {
  background-color: rgba(14, 98, 81, 0.6);
  padding-bottom: 20px;
  margin: 10px 20px 60px 0;
}
.login-form > a {
 color: #66CDAA; 
}
.login-box {
  background-image: url(login.jpg);
  background-size: cover;
}
#error_explanation {
  background-color: orangered;
  border: none;
  width: 100%;
}
#error_explanation h2 {
  background-color: tomato;
  padding: 1em;
}
#error_explanation ul li {
  list-style: none;
  padding: 0.5em 0;
}
.field_with_errors {
  padding: 4px 20px;
  background-color: orangered;
  border-radius: 6px;
}

